.containerCalculator {
  margin: 30px 0px;
  padding: 20px 0px;
  background-color: var(--gray2);
}

.formularAdaugareAliment {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px 50px 30px 50px;
  border-radius: 8px;
  background-color: var(--gray1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}

.dimensiuneAfisare {
  width: 60%;
  margin: auto;
  margin-bottom: 50px;
  list-style-type: none;
  padding: 0;
  background-color: var(--gray2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}

.dimensiuneAfisare li {
  display: inline-block;
  width: 100%;
  background-color: var(--gray1);
  border-bottom: 1.5px solid var(--gray2);
  padding: 10px 20px;
}

.afisareDenumire {
  display: inline-block;
  text-align: center;
  width: 50%;
}

.AfisareKcal {
  display: inline-block;
  text-align: center;
  width: 50%;
}

.dimensiuneAfisare .linieHeader {
  background-color: var(--gray3);
  font-weight: bold;
}

.dimensiuneAfisare .linieTotal {
  background-color: var(--lovelyblue);
  border-bottom: none;
  color: var(--gray1);
  font-weight: bold;
}

.addValue {
  width: 100%;
}

.inputModCalcul {
  width: 50%;
  margin-bottom: 40px;
  border-radius: 5px;
  border: 1px solid var(--gray3);
  padding: 10px 0px 10px 10px;
  font-weight: 400;
  font-size: 16px;
}

.instructiuneFormular {
  font-weight: 16px;
  line-height: 25px;
  margin: 30px 0 5px 0px;
  font-style: italic;
}

.styleRadioButton {
  border-radius: 8px;
}

.selectAliment {
  color: var(--darkgray);
}

.imagineHeader {
  width: 100%;
}

.titleSeparationLine {
  padding: 1px;
  background-color: var(--lovelyblue);
  margin: 10px 0 40px 0;
}