.tableTratament {
    list-style: none;
    color: black;
    text-align: left;
    width: 100%;
    margin: auto;
    display: block;
    padding: unset;
  }
  
  .tableTratament li .rowTableTratament {
    width: 100%;
    list-style: none;
    display: inline-flex;
    padding: unset;
  }
  
  .tableTratament li .rowTableTratament li {
    width: 25%;
    margin: 10px;
  }
  