.generalButton{
    padding: 7px 40px;
    display: flex;
}

.center{
    margin:auto;
}

.signOutButton{
    background: unset;
    border: none;
    padding: 10px;
    font-weight: bold;
    transition: background 1s;
    border-radius:4px;
    padding: 6px 10px 5px 10px;
}

.signOutButton:hover{
    background: rgba(255, 255, 255, 0.493);
    color: rgba(0, 0, 0, 0.548);
}