.generalButton{
    padding: 8px 35px;
    display: flex;
    background: var(--lovelyblue);
    color: var(--gray1);
    border: 1px solid var(--lovelyblue);
    border-radius: 10px;
    font-size: large;
    margin:auto;
}

.generalButton:hover {
    background: var(--lovelydarkerblue);
    color: var(--gray1);
    border: 1px solid var(--gray1);
}

.signOutButton {
    display: unset;
    font-size: 14px;
    padding: 2px 9px;
}

.signOutButton:hover {
    border: 1px solid var(--gray2);
}

/* .signOutButton{
    background: var(--lovelyblue);
    border: 1px solid var(--lovelyblue);
    padding: 10px;
    font-weight: bold;
    transition: background 1s;
    border-radius:4px;
    padding: 6px 10px 5px 10px;
    display: unset;
}

.signOutButton:hover{
    background: var(--lovelydarkerblue);
    color: var(--gray1);
    border: none;
} */