form {
  width: 300px;
  box-sizing: content-box;
  border-radius: 5px;
}

.fields {
  padding: 4px;
  width: 100%;
}

.fields input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--darkgray);
  padding: 10px 0px 10px 10px;
}

.fieldButton {
  margin-top: 10px;
  width: 100%;
  padding: 4px;
  border-radius: 15px;
}
