* {
  box-sizing: border-box;
}
*:focus{
  outline: unset;
}

:root {
  --gray1: #F7F7F7;
  --gray2: #EFEFEF;
  --gray3: #DBDBDB;
  --darkgray: #666666;
  --darkergray: #545454;
  --lovelyblue: #3DAA8D;
  --lovelydarkerblue: #389B7E;
}

body {
  margin: 0;
  font-family: "Open Sans", Arial , Helvetica, sans-serif;
  color: var(--darkgray);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gray1);
}

h1 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: var(--lovelyblue);
  font-weight: lighter;
}

p {
  color: var(--darkergray);
  font-weight: 400;
  font-size: larger;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
