* {
  box-sizing: border-box;
}
*:focus {
  outline: unset;
}

:root {
  --gray1: rgb(250, 250, 250);
  --gray2: #efefef;
  --gray3: #dbdbdb;
  --darkgray: #666666;
  --darkergray: #545454;
  --textgray: #2e2e2e;
  --lovelyblue: #3daa8d;
  --lovelydarkerblue: #389b7e;
}

body {
  margin: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: var(--darkgray);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gray1);
}

h1 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: var(--lovelyblue);
  font-weight: lighter;
}

p {
  color: var(--textgray);
  font-weight: 300;
  font-size: 17.5px;
  line-height: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
